# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Build / Packaging
dist/
build/
*.egg-info/
*.spec

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
